@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #f3f7f4 !important;
}

.container .card .slide {
    width: 300px;
    height: 230px;
    transition: 0.5s;
}

.container .card .slide.slide1 {
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.container .card:hover .slide.slide1 {
    transform: translateY(0px);
    height: 300px;
}

.container .card:hover .slide.slide2{
    transform: translateY(0px);
    height: 330px;
}

img {
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    border-radius: 10px !important;
}

.container .card .slide.slide2 {
    background-color: #f6f6f6 !important;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.container .card .slide.slide2 .content2 p {
    color: #414141;
}

.container .card .slide.slide2 .content2 h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    color: #414141;
} 

